.example-card {
  max-width: 300px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 1rem;
}

.flex-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  height: 250px;
}

.animal-list-container {
  display: flex;
}
